P{
    margin-bottom: 0;
    margin-top: 0;
}

body{
    font-family: roboto,arial;
    margin: 0;
}

.main {
    padding-top: 65px;
    padding-left: 80px;
    background-color: rgb(239, 239, 239);
}

.bar {
    margin-top: 10px;
    position: fixed;
    width: 80px;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    align-content: center;
    text-align: center;
}

.bar div{
    padding-bottom:10px;
    padding-top:10px;
    font-size: 10px;
    width: 100%;
    cursor: pointer;
}
.bar div:hover {
    background-color: #dcdcdc;
}


.header {
    align-items: center;
    height: 55px;
    padding: 5px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;

}


.left-section{
    display: flex;
}
.left-section img {
    height: 25px;
}

.header img:hover{
    cursor: pointer;
}
.middle-section{
    display: flex;
    justify-content: center;
    flex: 1;

}

.right-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}


.search-bar {
    border-radius: 50px 0px 0px 50px;
    font-size: 20px;
    width: 50%;
    padding-left: 20px;
    border: 1px solid #4b4b4b;
}

.search-button {
    width: 20px;
    display: flex;
    /* padding: 1px 6px; */
    background-color: #F7F7F7;
    border: 1px solid #4b4b4b;
    border-left: 0px;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    border-radius: 0px 50px 50px 0px;
}
.search-button img{
    width: 25px;
}


.thumbnail {
    width: 100%;
    font-weight: bold;
    margin-bottom: 12px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-title{
    font-size: 14px;
    font-weight:500;
    line-height: 20px;
    margin-bottom: 8px;
}
.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 2px;
}
.profile-picture{
    border-radius: 50px;
    width: 40px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding: 20px 20px;
    border-top: 0.5px solid #ccc;
}
.video-preview {
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    display: flex;
    align-content: center;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 100px; */
    background-color: #adadad;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 200%;
    margin-left: -105px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } 


@media (max-width:700px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and  (max-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

